@charset "UTF-8";

#titlebg{
background-color:#f0feff;
border:1px solid;
border-color:white;
text-align: center;
}
#made{
font-family:"맑은 고딕";
font-size:55px;
color:white;
text-shadow:-1px -1px 3px #00ccff ;
letter-spacing:50px;
}

.menu { 
		list-style-type: none;
		display: block;
		background:#00ccff;
		width: 1200px;
		height: 50px; 
		padding: 0; 
		margin: 0; 
	}
	
.menu li { 
		float: left; 
		position: relative; 
		padding: 0; 
		line-height: 40px; 
		
	}
	
.menu li a { 
		display: block; 
		font-family:"굴림"; 
		font-weight:600; 
		font-size:14px;
		padding: 5px 25px; 
		color: #fff;
		text-decoration: none; 
	}

.menu li a:hover {
		color:#F90;
	}

.menu li ul {
		opacity: 0;
		position: absolute;
		left: 0;
		width: 180px;
		background: #66ffff;
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

.menu li:hover ul {
		opacity: 1;
	}

.menu li ul li {
		float: none;
		position: static;
		height: 0;
		line-height: 0;
		background: none;
	}

.menu li:hover ul li {
		height: 30px; 
		line-height: 30px;
		padding:5px 0;
	}
	
.menu li ul li a {
		background: #55d5ff; 
		font-family:"굴림"; 
		font-weight:600; 
		font-size:14px;
		color:#ccffff; 
		
	}
	
.menu li ul li a:hover {background: #0099ff; }

.menu li { 
		transition: all 0.2s;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-o-transition: all 0.2s;
	}
.menu li a { 
		transition: all 0.5s;
		-webkit-transition: all 0.5s; 
		-moz-transition: all 0.5s; 
		-o-transition: all 0.5s; 
	}
.menu li ul { 
		transition: all 1s; 
		-webkit-transition: all 1s;
		-moz-transition: all 1s;
		-o-transition: all 1s;
	}
.menu li ul li { 
		transition: height 0.5s;
		-webkit-transition: height 0.5s;
		-moz-transition: height 0.5s;
		-o-transition: height 0.5s;
	}

