@CHARSET "UTF-8";


#bar{
	font-size:30pt;
	height:30px; 
	position:relative;
	left:10px;
	margin-bottom:-20px;

}
#barSub{
position:relative;
top:0px;
left:170px;
color:gray;
}


#user1 {


margin-top:0px;
padding-top:50px;
padding-left:500px;
padding-right:400px;
padding-bottom:50px;
font-size:9pt
	
}

.user label{

	font-size:15pt;
	margin-right:100px;
}
.user div{
	
	
	padding: 15px;
	
	
}
#buttonTag{
	
	margin-top:50px;
	text-align:center;
	
}
#button{
padding:10px 20px;
background-color:#6699ff;
font-weight:bold;
color:white;
border-radius:5px;
}


input[type="text"]{
	border-radius:3px; 
	border:1px solid #c9c9c9; 
	size:25px; 
	border-width:2px; 
	padding:10px;

}
/* imaged preview */ 
.filebox .upload-display { /* 이미지가 표시될 지역 */ 

margin-bottom: 5px; } 

@media(min-width: 768px) { 
.filebox .upload-display { display: inline-block; margin-right: 5px; margin-bottom: 0; } } 

.filebox .upload-thumb-wrap { /* 추가될 이미지를 감싸는 요소 */
display: inline-block; 
width: 54px; padding: 200px; 
vertical-align: middle; 
border: 1px
solid #ddd; 
border-radius: 5px;

background-color: #fff; }

.filebox .upload-display img { /* 추가될 이미지 */ 
display: block; max-width: 100%; width: 100% \9; height: auto; }

